# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\AAA实训学习\资料\第四阶段资料\第四阶段视屏\第1天_1009\代码\dongyimaiparent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
